.u-section-1 {
  background-image: none;
  min-height: 816px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 85px auto 60px;
}

.u-section-1 .u-image-1 {
  min-height: 647px;
  background-image: url("images/hjjjj.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 647px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 20px;
}

.u-section-1 .u-line-1 {
  width: 86px;
  height: 10px;
  transform-origin: right center;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 305px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 342px;
  background-image: url("images/close-up-people-wearing-mask-radio_23-2148802336.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 757px;
  }

  .u-section-1 .u-shape-1 {
    width: 550px;
    left: -30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-2 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1597px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 393px);
    left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 72px;
  }

  .u-section-1 .u-image-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-2 {
    min-height: 648px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 2078px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 836px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 486px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1414px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-image-1 {
    min-height: 526px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 306px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 557px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 748px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 46px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 272px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 35px auto 0 0;
  padding: 11px 50px 13px 48px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/c5e02fce-c0d2-0d86-c803-4283c6a5fc9f.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 347px;
    height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 34px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 717px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 267px;
    height: 267px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 504px;
    height: 504px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
    height: 330px;
    margin-left: 0;
  }
}