.u-section-1 {
  min-height: 2154px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 376px);
  height: 799px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: -728px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 657px;
  pointer-events: auto;
  background-image: url("images/pexels-fauxels-3184611.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 657px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 8px;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 76px 41px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 11px 67px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 183px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1246px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 9px 30px;
}

.u-section-1 .u-group-1 {
  width: 277px;
  min-height: 25px;
  margin: 0 auto 0 71px;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  margin: -22px 84px 0 43px;
}

.u-section-1 .u-group-2 {
  width: 277px;
  min-height: 25px;
  margin: 30px auto 0 71px;
}

.u-section-1 .u-icon-2 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -22px 84px 0 43px;
}

.u-section-1 .u-group-3 {
  width: 277px;
  min-height: 25px;
  margin: 30px auto 0 71px;
}

.u-section-1 .u-icon-3 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -22px 187px 0 43px;
}

.u-section-1 .u-group-4 {
  width: 277px;
  min-height: 25px;
  margin: 30px auto 0 71px;
}

.u-section-1 .u-icon-4 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: -22px 68px 0 43px;
}

.u-section-1 .u-group-5 {
  width: 277px;
  min-height: 25px;
  margin: 30px auto 0 71px;
}

.u-section-1 .u-icon-5 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: -22px 102px 0 43px;
}

.u-section-1 .u-group-6 {
  width: 277px;
  min-height: 25px;
  height: auto;
  margin: 35px auto 0 71px;
}

.u-section-1 .u-icon-6 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: -22px 133px 0 43px;
}

.u-section-1 .u-line-1 {
  width: 345px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 35px 21px 0 71px;
}

.u-section-1 .u-group-7 {
  width: 277px;
  min-height: 25px;
  height: auto;
  margin: 12px auto 0 71px;
}

.u-section-1 .u-icon-7 {
  width: 25px;
  height: 25px;
  background-image: none;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 -1px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -22px 133px 0 43px;
}

.u-section-1 .u-form-1 {
  height: 338px;
  margin: 30px 29px 0 79px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  padding-left: 124px;
  padding-right: 124px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 1246px;
}

.u-section-1 .u-container-layout-11 {
  padding: 15px 30px 30px;
}

.u-section-1 .u-group-8 {
  width: 414px;
  min-height: 40px;
  height: auto;
  margin: 0 371px 0 0;
}

.u-section-1 .u-icon-8 {
  width: 40px;
  height: 40px;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -38px 0 0 59px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-list-1 {
  width: 290px;
  margin: 28px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-11 {
  margin: 0 430px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 47px 50px 0 0;
}

.u-section-1 .u-group-9 {
  width: 414px;
  min-height: 40px;
  height: auto;
  margin: 73px auto 0 0;
}

.u-section-1 .u-icon-9 {
  width: 40px;
  height: 40px;
  color: rgb(146, 228, 253) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: -38px 0 0 59px;
}

.u-section-1 .u-text-14 {
  margin: 20px 50px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 50px 0 0;
}

.u-section-1 .u-group-10 {
  width: 414px;
  min-height: 40px;
  height: auto;
  margin: 68px auto 0 0;
}

.u-section-1 .u-icon-10 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  margin: -38px 0 0 59px;
}

.u-section-1 .u-text-17 {
  margin: 20px 50px 0 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 50px 0 0;
}

.u-section-1 .u-group-11 {
  width: 414px;
  min-height: 40px;
  height: auto;
  margin: 57px auto 0 0;
}

.u-section-1 .u-icon-11 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-19 {
  margin: -38px 0 0 59px;
}

.u-section-1 .u-text-20 {
  margin: 20px 50px 0 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 50px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1704px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 376px);
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    min-height: 808px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1027px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 80px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 80px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 183px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 64px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 98px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 34px;
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 129px;
    margin-left: 39px;
  }

  .u-section-1 .u-line-1 {
    width: 311px;
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-1 .u-group-7 {
    margin-left: 34px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 129px;
    margin-left: 39px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 37px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1027px;
  }

  .u-section-1 .u-group-8 {
    margin-right: 137px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-text-11 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-icon-10 {
    color: rgb(146, 228, 253) !important;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-icon-11 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 678px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 376px);
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 415px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    width: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: -1px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-group-8 {
    width: 408px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 53px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-11 {
    margin-right: 157px;
  }

  .u-section-1 .u-group-9 {
    width: 408px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 53px;
  }

  .u-section-1 .u-group-10 {
    width: 408px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 53px;
  }

  .u-section-1 .u-group-11 {
    width: 408px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 799px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 623px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 949px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 15px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-weight: 700;
    margin-top: -23px;
    margin-right: -7px;
    margin-left: 41px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 28px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -23px;
    margin-right: -68px;
    margin-left: 41px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 27px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -25px;
    margin-right: 81px;
    margin-left: 38px;
  }

  .u-section-1 .u-group-4 {
    width: 330px;
    min-height: 52px;
    margin-top: 31px;
    margin-right: 60px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -22px;
    margin-right: 28px;
    margin-left: 42px;
  }

  .u-section-1 .u-group-5 {
    min-height: 67px;
    margin-top: 10px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -22px;
    margin-right: -1px;
    margin-left: 42px;
  }

  .u-section-1 .u-group-6 {
    min-height: 47px;
    margin-top: 13px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -22px;
    margin-right: 12px;
    margin-left: 41px;
  }

  .u-section-1 .u-line-1 {
    width: 422px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-1 .u-group-7 {
    width: 275px;
    min-height: 67px;
    margin-top: 42px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -22px;
    margin-right: 13px;
    margin-left: 40px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    padding: 7px 170px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-8 {
    width: 320px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 31px;
    margin-left: 82px;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    width: 320px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 31px;
    margin-left: 82px;
  }

  .u-section-1 .u-group-10 {
    width: 320px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 31px;
    margin-left: 90px;
  }

  .u-section-1 .u-group-11 {
    width: 320px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 31px;
    margin-left: 82px;
  }
}